body {
    /*margin: 1em;*/
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

b{
    color: black;
    /*font-size: 1em;*/
}

p{
    color: gray;
    /*font-size: .5em;*/
}