body {
    background-color: #f4f4f4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 98.5vw;
    height: 100vh;
}

nav {
    grid-column: 5/6;
    grid-row: 1/2;
    font-size: 2em;
    writing-mode: tb-rl;
    transform: rotate(360deg);
    margin: .1em .5em;
    border-top: 8px solid #305252;
}

.navItem{
    padding-left: .3em;
    padding-right: .2em;
    padding-top: .2em;
    align-self: flex-end;
    text-decoration-color: #305252;
    text-decoration-width: 1px;
}

.navItem:hover{
    background-color: #305252;
    font-size: 1.1em;
    color: white;
    padding: .1em;
    text-decoration-line: underline;
}

#nameWrap {
    grid-row: 1/4;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    font-size: 5em;
    margin-left: 1em;
    justify-items: start;
    width: 2em;
    height: 100vh;
}
#firstName{
    grid-row: 1/4;
    grid-column: 1/2;
    transform: rotate(-90deg);
    display: flex;
    align-items: start;
    padding-bottom: .2em;
    letter-spacing: .2em;
    line-height: .2em;
    padding-left: 1em;
    text-decoration-line: underline;
    text-decoration-color: #305252;
}

.firstLetter{
    color: #305252;
    font-weight: bold;
    text-transform: uppercase;
}

#lastName{
    grid-row: 2/5;
    grid-column: 1/2;
    transform: rotate(-90deg);
    display: flex;
    align-items: start;
    letter-spacing: .2em;
    line-height: 1em;
    padding-left: 1em;
    text-decoration-line: underline;
    text-decoration-color: #305252;
}

#title {
    grid-column: 3/4;
    grid-row: 2/4;
    width: 8em;
    font-size: 5em;
    display: flex;
    align-items: center;
}

#photo {
    grid-column: 3/6;
    grid-row: 2/6;
    background-image: url("../img/portfolio.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}