.carousel-control{
	top: 50%;
}
 
/* .navbar-header, h1, li:hover{
	color: maroon;
}

.textbg{
	background-color: black;
}

.fb{
	background-color: blue;
}

.taste{
	background-image: url('img/sheetmetal.jpg');
}

 .fa{
	top: 50%;
}  */