/*Media Queries*/

/*Extra small devices (portrait phones, less than 576px)*/

/*Small devices (landscape phones, 576px and up)*/
@media only screen and (min-width: 300px) and (max-width: 767px){
    body {
        background-color: #f4f4f4;
        contain: content;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    /*VERTICAL NAME*/
    #nameWrap {
        margin-top: 1em;
        margin-left: -.2em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        font-size: 5em;
        width: 2em;
        height: 100vh;
    }

    #firstName {
        margin-top: .5em;
        grid-row: 1/2;
        transform: rotate(-90deg);
        padding-bottom: .2em;
        letter-spacing: .2em;
        line-height: .2em;
        text-decoration-line: underline;
        text-decoration-color: #305252;
    }

    .firstLetter {
        color: #305252;
        font-weight: bold;
        text-transform: uppercase;
    }

    #lastName {
        grid-row: 2/3;
        grid-column: 1/2;
        transform: rotate(-90deg);
        padding-right: .5em;
        letter-spacing: .2em;
        line-height: 1em;
        text-decoration-line: underline;
        text-decoration-color: #305252;
    }

    /*================== NAVBAR & TITLE CONTAINER-*/
    #mobileContainer {
        margin-top: 25vh;
        display: flex;
        width: 100%;
    }

    /*=================== NAVBAR-*/
    .navMobile {
        font-size: 2em;
        /*float: right;*/
        writing-mode: bt-lr;
        transform: rotate(360deg);
        border-left: 8px solid #305252;
        /*padding-left: .5em;*/
        margin: 0 auto;
        width: 30%;
        font-weight: lighter;
    }

    .navMobileItem {
        padding: .6em .6em .6em .2em;
        text-align: center;
    }

    .navMobileItem:hover {
        background-color: #658585;
        color: white;
    }

    .navMobileItem a:hover {
        text-underline: none;
        text-decoration: none;
    }

    /*======================== TITLE */
    #titleMobile {
        font-weight: bold;
        font-size: 2em;
        text-align: left;
        padding-right: 3em;
        width: 50%;
        margin: 0 auto;
        align-self: center;
    }

    .quote {
        float: left;
        font-size: .5em;
        text-align: left;
        font-weight: lighter;
    }

    /*======================== RESUME*/
    #resumeBtn {
        width: 100vw;
        height: 60vh;
        background-color: #305252;
        padding: 1em;
        float: left;
        margin-top: 25vh;
    }

    #resumeBtn a {
        color: #fff;
        font-weight: lighter;
        text-decoration: none;
        margin-left: 1em;
    }

    #resumeBtn h2 {
        display: inline-block;
        font-weight: lighter;
        color: white;
        border-left: 2px solid white;
        margin: 15%;
        font-size: 3em;
        width: 100%;
        height: 50%;
        padding-left: .2em;
        float: left;
    }

    #span {
        font-size: .4em;
    }

    #resumeBtn div {
        background-color: white;
        width: 7%;
        height: 100vh;
        margin-top: 2%;
        margin-left: 1em;
        padding-right: 1em;
    }

    /*================== PROJECTS */
    .projects {
        width: 100vw;
        height: 300vh;
        margin-top: 40vh;
        /*margin-top: 26vh;*/
        border-right: 5px solid #305252;
    }

    /*======== PROJ */
    .projectText h2 {
        font-weight: lighter;
        font-size: 5em;
        /*margin-left: 37.6vh;*/
        padding-bottom: .1em;
        /*margin-top: 2em;*/
    }

    /*========= EJCTS */
    /*#brokeText {*/
    /*    transform: rotate(90deg);*/
    /*    height: 6vh;*/
    /*    font-size: 5em;*/
    /*    width: 30vw;*/
    /*    margin-left: 81vw;*/
    /*    font-weight: lighter;*/
    /*}*/

    #fallingText {
        padding-left: .2em;
    }

    /*=================== IND PROJECT CONTAINERS */

    .projectTitle {
        font-weight: lighter;
        transform: rotate(180deg);
        color: white;
        font-size: 5em;
        writing-mode: vertical-rl;
        text-align: center;
        margin: 0 auto;
        background-color: #305252;
        /*padding-top: 10vh;*/
        /*height: 110%;*/
    }

    .indProjects {
        /*background-repeat: no-repeat;*/
        /*height: 25%;*/
        margin-top: 5em;
        /*background-position: center;*/
        float: left;
        width: 80%;
        border-bottom: 10px solid #305252;
    }
    .projectImg{
        width: 100%;
        height: 75vh;
    }

    #hilltopProject {
    /*    background-image: url("../img/HilltopProject.png");*/
    /*    margin-top: -3.8em;*/
    /*    float:left;*/
        margin-top: 0;
    }

    /*#capstone {*/
    /*    background-image: url("../img/AltiDND.jpg");*/
    /*}*/

    /*#adLister {*/
    /*    background-image: url("../img/at-zoom2.jpg");*/
    /*}*/

    /*========== IND PROJECT ON CLICK*/

}


/*!*Medium devices (tablets, 768px and up)*!*/
/*@media (min-width: 768px) {*/
/*    ...*/
/*}*/

/*!*Large devices (desktops, 992px and up)*!*/
/*@media (min-width: 992px) {*/
/*    .hidden{*/
/*        visibility: visible;*/
/*    }*/
/*}*/

/*!*Extra large devices (large desktops, 1200px and up)*!*/
/*@media (min-width: 1200px) {*/
/*    ...*/
/*}*/