/*Media Queries*/

/*Extra small devices (portrait phones, less than 576px)*/

/*Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 300px) {
    body {
        background-color: #f4f4f4;
        contain: content;
        width: 97vw;
        height: auto;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .mobileContainer{
        display: flex;
    }

    .navMobile {
        /*grid-column: 5/6;*/
        /*grid-row: 1/2;*/
        font-size: 2em;
        float: right;
        writing-mode: bt-lr;
        transform: rotate(360deg);
        /*margin;*/
        border-left: 8px solid #305252;
        padding-left: .5em;
    }

    .navMobileItem {
        /*margin-bottom: 1em;*/
        /*padding-left: 1em;*/
        padding: .6em;
        text-align: center;
    }

    .navMobileItem:hover{
        background-color: #658585;
        /*font-size: 1.1em;*/
        color: white;

    }

    .navMobileItem a:hover{
        text-underline: none;
        text-decoration: none;
    }

    #nameWrap {
        margin-top: .5em;
    }

    #titleMobile{
        /*color: #305252;*/
        font-weight: bold;
        font-size: 2em;
        float: left;
        text-align: left;
        padding-right: 4em;
        align-self: center;
        margin-left:.2em;
    }
    .quote{
        float: left;
        font-size: .5em;
        /*padding-right:4em;*/
        text-align: left;
    }
}





/*!*Medium devices (tablets, 768px and up)*!*/
/*@media (min-width: 768px) {*/
/*    ...*/
/*}*/

/*!*Large devices (desktops, 992px and up)*!*/
/*@media (min-width: 992px) {*/
/*    .hidden{*/
/*        visibility: visible;*/
/*    }*/
/*}*/

/*!*Extra large devices (large desktops, 1200px and up)*!*/
/*@media (min-width: 1200px) {*/
/*    ...*/
/*}*/