/*Media Queries*/

/*Extra small devices (portrait phones, less than 576px)*/

/*Small devices (landscape phones, 576px and up)767*/
@media only screen and (min-width: 300px) and (max-width: 2000px){
    body {
        background-color: #f4f4f4;
        contain: content;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    /*VERTICAL NAME*/
    #nameWrap {
        margin-top: 1em;
        margin-left: -.2em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        font-size: 5em;
        width: 2em;
        height: 100vh;
    }

    #firstName {
        margin-top: .5em;
        grid-row: 1/2;
        transform: rotate(-90deg);
        padding-bottom: .2em;
        letter-spacing: .2em;
        line-height: .2em;
        text-decoration-line: underline;
        text-decoration-color: #305252;
    }

    .firstLetter {
        color: #305252;
        font-weight: bold;
        text-transform: uppercase;
    }

    #lastName {
        grid-row: 2/3;
        grid-column: 1/2;
        transform: rotate(-90deg);
        padding-right: .5em;
        letter-spacing: .2em;
        line-height: 1em;
        text-decoration-line: underline;
        text-decoration-color: #305252;
    }

    /*================== NAVBAR & TITLE CONTAINER-*/
    #mobileContainer {
        margin-top: 25vh;
        display: flex;
        width: 100%;
    }

    /*=================== NAVBAR-*/
    .navMobile {
        font-size: 2em;
        writing-mode: bt-lr;
        transform: rotate(360deg);
        border-left: 8px solid #305252;
        margin: 0 auto;
        width: 30%;
        font-weight: lighter;
    }

    .navMobileItem {
        padding: .6em .6em .6em .2em;
        text-align: center;
    }

    .navMobileItem:hover {
        background-color: #658585;
        color: white;
    }

    .navMobileItem a:hover {
        text-underline: none;
        text-decoration: none;
    }

    /*======================== TITLE */
    #titleMobile {
        font-weight: bold;
        font-size: 2em;
        text-align: left;
        padding-right: 3em;
        width: 60%;
        margin: 0 auto;
        align-self: center;
    }

    .quote {
        float: left;
        font-size: .5em;
        text-align: left;
        font-weight: lighter;
    }

    .line{
        transform: rotate(90deg);
        border-bottom: 8px solid #305252;
        margin-left: 5vw;
        margin-top: 10vh;
        width: 60vh;
    }

    #line2{
        width: 40vh;
        margin-left: 35vw;
        margin-top: 25vh;
    }

    /*================== PROJECTS */
    .projects {
        width: 100vw;
        height: 300vh;
        margin-top: 30vh;
        border-right: 10px solid #305252;
    }

    /*======== PROJECTS */
    .projectText h2 {
        font-weight: lighter;
        font-size: 5em;
        padding-bottom: .1em;
    }

    /*========= PROJECT TITLES */
    .brokeText {
        transform: rotate(90deg);
        height: auto;
        font-size: 3em;
        float: right;
        font-weight: lighter;
    }

    #hilltopProjectText{
        margin-right: -26vw;
        margin-top: -26.5vh;
    }

    #capstoneProjectText{
        margin-right: -14vw;
        margin-top: -20vh;
    }

    #adListerProjectText{
        margin-right: -8vw;
        margin-top: -16vh;
    }



    /*=================== IND PROJECT CONTAINERS */

    .projectTitle {
        font-weight: lighter;
        transform: rotate(180deg);
        color: white;
        font-size: 5em;
        writing-mode: vertical-rl;
        text-align: center;
        margin: 0 auto;
        background-color: #305252;
    }

    .indProjects {
        margin-top: 5em;
        float: left;
        width: 80%;
    }

    .projectImg{
        width: 100%;
        height: 75vh;
        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;
        border-right: 5px solid #305252;
    }

    #hilltopProject {
        margin-top: 0;
    }

    /*========== IND PROJECT ON CLICK*/


    /*======================== RESUME*/
    #resumeBtn {
        width: 100vw;
        height: 60vh;
        background-color: #305252;
        padding: 1em;
        float: left;
        margin-top: 50vh;
    }

    #resumeBtn a {
        color: #fff;
        font-weight: lighter;
        text-decoration: none;
        margin-left: 1em;
    }

    #resumeBtn h2 {
        display: inline-block;
        font-weight: lighter;
        color: white;
        border-left: 2px solid white;
        margin: 15%;
        font-size: 3em;
        width: 100%;
        height: 50%;
        padding-left: .2em;
        float: left;
    }

    #span {
        font-size: .4em;
    }

    #resumeBtn div {
        background-color: white;
        width: 7%;
        height: 100vh;
        margin-top: 2%;
        margin-left: 1em;
        padding-right: 1em;
    }
}


/*!*Medium devices (tablets, 768px and up)*!*/
/*@media (min-width: 768px) {*/
/*    ...*/
/*}*/

/*!*Large devices (desktops, 992px and up)*!*/
/*@media (min-width: 992px) {*/
/*    .hidden{*/
/*        visibility: visible;*/
/*    }*/
/*}*/

/*!*Extra large devices (large desktops, 1200px and up)*!*/
/*@media (min-width: 1200px) {*/
/*    ...*/
/*}*/